/* Variables */
$red-color: #EA5454;
$orange-color: #FCAE4A;
$blue-color: #549EF2;
$cyan-color: #44D3D2;
$very-dark-blue-color: #4D4F62;
// $grayish-blue-color: ;
// $very-light-gray: ;
/* Colors for interactions */

/* Typography */

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}