/* Variables */
$red-color: #EA5454;
$orange-color: #FCAE4A;
$blue-color: #549EF2;
$cyan-color: #44D3D2;
$white-color: #FFF;
$very-dark-blue-color: #4D4F62;
$very-light-gray: #FAFAFA;
/* Colors for interactions */

/* Typography */
$poppins-family-font: 'Poppins', sans-serif;

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 80px 165px;
  background-color: $very-light-gray;
  min-height: 100%;
  font-family: $poppins-family-font;
}

.service {
  &__overview {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.01em;

    &-title {
      font-weight: 100;
      font-size: 36px;
      letter-spacing: 0.01em;
      color: $very-dark-blue-color;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 36px;
      letter-spacing: 0.01em;
      color: $very-dark-blue-color;
    }

    &-descr {
      margin-top: 11px;
      font-weight: 400;
      font-size: 15px;
      line-height: 167%;
      letter-spacing: 0.01em;
      color: $very-dark-blue-color;
      opacity: 0.5;
    }
  }

  &__features {
    margin-top: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__feature {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
    padding: 32px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      top: 0;
      left: 0;
    }

    &__middle {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;
      order: 2;
    }

    &--supervisor {
      order: 1;
      margin-right: 30px;

      &::before {
        background-color: $cyan-color;
      }
    }

    &--calculator {
      order: 3;
      margin-left: 30px;

      &::before {
        background-color: $blue-color;
      }
    }

    &--teambuilder {
      &::before {
        background-color: $red-color;
      }
    }

    &--karma {
      &::before {
        background-color: $orange-color;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      color: $very-dark-blue-color;
    }

    &-text {
      margin-top: 6px;
      opacity: 0.5;
      font-weight: 400;
      font-size: 13px;
      line-height: 177%;
      letter-spacing: 0.01em;
      color: $very-dark-blue-color;
    }

    &-img {
      position: absolute;
      bottom: 32px;
      right: 32px;
    }
  }
}